.centerpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 25%;
}

.right {
  float: right;
  width: 10%;
  height:20%;
}

.cen
{
   margin: 0 auto;
   width: 70%;
   border-left: 1px solid white;
   border-right: 1px solid white;
}
